@charset "UTF-8";

html, body {
    height: 100%;
}

.carousel-inner, #myCarousel {
    height: 1100px;
}

body {
    background-color: #000000!important;
    overflow-x: hidden;
}

#tinymce {
    background: #ffffff!important;
}

.left_scroll_control {
    background: url("/assets/img/template/pointer1-left.png") no-repeat center center!important;
}

.right_scroll_control {
    background: url("/assets/img/template/pointer1-right.png") no-repeat center center!important;
}

#main-wrapper {
    position: absolute;
    top: 0;
    z-index: 10;
    left: 50%;
}

#main-wrapper div#inner-main-wrapper {
    position: relative;
    left: -50%;
    height: 100%;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
}

#main-wrapper-bottom {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 10;
    margin-top: -150px;
}

#main-restaurant-menu {
    width: 100%;
    height: 160px;
    border-top: 5px solid rgb(182, 0, 10);
    background: rgb(211, 211, 211);
}

#main-restaurant-menu #custom-border-top {
    background: url("/assets/img/template/ugol.png") no-repeat top center;
    width: 34px;
    height: 17px;
    margin: -17px auto 0 auto;
}

#main-restaurant-menu #restaurant-menu-holder {
    height: 100%;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

#top-block {
    margin: 20px 0 0 0;
    height: 100px;
    width: inherit;
}

#top-block .row {
    width: inherit;
    margin: 0;
}

#top-block-info1 {
    display: inline-block;
    height: 60px;
    margin: 20px 10px;
    color: rgb(228, 0, 30);
}

#top-block-info1 div {
    background: url("/assets/img/template/ico-phone.png") no-repeat left center;
    padding: 0 0 0 25px;
}

#shop-link-holder {
    width: 209px;
    height: 43px;
    background: url("/assets/img/template/online-zakaz.png") no-repeat left center;
    padding: 10px 0 10px 60px;
}

#shop-link-holder a, #delivery-link-holder a {
    color: #ffffff;
}

#delivery-link-holder {
    padding: 10px 0;
    text-align: right;
}

#delivery-link-holder a {
    margin: 0 70px 0 0;
}

#sign-in-holder {
    text-align: right
}

#sign-in-holder a {
    color: green;
}

#shop-cart-holder {
    background: url("/assets/img/template/ico-corzin.png") no-repeat top left;
    padding-left: 32px;
    width: 170px;
    float: right;
    margin-top: 35px;
}

#shop-cart-holder a {
    color: #808080;
}

footer {
    width: 100%;
    height: 250px;
    padding-top:20px;
    color: rgb(57, 57, 57);
}

footer #footer-holder {
    height: 100%;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
    margin: 0 auto;
}

address {
    background: url("/assets/img/template/ico-contacts.png") no-repeat left center;
    padding-left: 30px;
    margin-top: 20px;
    color: rgb(138, 138, 138);
}

.custom-copyright {
    color: rgb(138, 138, 138);
}

.delivery-info-footer span {
    font-size: small;
}

.footer-link-block-item {
    padding-left: 50px;
    padding-top: 5px;
    height: 26px;
    margin-bottom: 10px;
}

.footer-link-block-item a {
    color: rgb(138, 138, 138);
    text-decoration: none;
}

.footer-link-block-item a:hover {
    color: rgb(138, 138, 138);
}

#footer-discounts {
    background: url("/assets/img/template/ico-discounts.png") no-repeat left center;
}

#footer-video {
    background: url("/assets/img/template/ico-video.png") no-repeat left center;
}

#footer-photo {
    background: url("/assets/img/template/ico-photo.png") no-repeat left center;
}

.footer-social-item {
    display: inline-block;
    margin-right: 5px;
}

/*shop*/
.shop_list {
    padding: 0 60px;
}

.on_main_menu_elem {
    display: inline-block;
    margin-right: 5px;
    position: relative;
}

.shop_list .on_main_menu_elem_last {
    margin-right: 0!important;
}

.on_main_menu_elem a {
    display: block;
}

.on_main_menu_elem a:hover {
    text-decoration: none;
}

.on_main_menu_elem div.name {
    text-align: center;
    color: rgb(4, 4, 4);
}

.on_main_menu_elem div.image hr {
    display: none;
    margin: -3px 0 0 0;
    padding: 0;
    border: none;
    height: 3px;
    background: rgb(228, 0, 30);
    position: relative;
    z-index: 10;
}

.on_main_menu_elem div.image:hover hr {
    display: block;
}

.scroll-menu {
    display: inline-block;
    width: 45px;
    height: 110px;
}

div#scroll_menu_title {
    margin: 5px 0 0 120px;
}

.scroller-left-disabled {
    background: url("/assets/img/template/pointer-gray-light.png") no-repeat center center;
}

.scroller-right-disabled {
    background: url("/assets/img/template/pointer-gray-right.png") no-repeat center center;
}

.scroller-left-disabled:hover {
    background: url("/assets/img/template/pointer-red-light.png") no-repeat center center;
    cursor: pointer;
}

.scroller-right-disabled:hover {
    background: url("/assets/img/template/pointer-red-right.png") no-repeat center center;
    cursor: pointer;
}

/*SECOND PAGE*/
#secondary-content-container {
    position: absolute;
    top: 230px;
    z-index: 10;
    left: 50%;
    color: #ffffff;
}

#secondary-content-container #content-holder {
    position: relative;
    left: -50%;
    height: 100%;
    width: 1100px;
    max-width: 1100px;
    min-width: 1100px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/*CONTACTS FORM*/
#contacts-holder {
    padding: 20px;
    margin-top: 20px;
    background: url("/assets/img/template/back-kontakt.png") repeat left top;
}

#contacts-form-holder {
    width: 60%;
    float: right;
}

#contacts-form-holder input, #contacts-form-holder textarea {
    color: rgb(118, 118, 118);
    border: 1px solid rgb(49, 49, 40);
    background-color: #000000;
    padding: 5px;
    width: 100%;
}

#contacts-form-holder textarea {
    width: 100%;
    height: 116px;
}

#contacts-form-holder input[name=submit], #contacts-form-holder input#clear-btn {
    width: auto;
    border-radius: 20px;
    padding: 5px 10px;
    float: right;
    margin-left: 10px;
}

#contacts-form-holder input[name=submit] {
    background-color: rgb(158, 0, 10);
    color: #ffffff;
}

#contacts-form-holder input#clear-btn {
    background-color: rgb(180, 156, 10);
    color: #000000;
}

#contacts-form-holder #form-title, #address-holder #form-title {
    text-transform: uppercase;
    color: rgb(231, 0, 29);
}

#contacts-form-holder .row {
    margin-bottom: 10px;
}

#address-holder .row {
    margin-bottom: 5px;
}

#address-holder {
    float: left;
}

.address-phone {
    color: rgb(203, 203, 203);
}

.address-time {
    color: rgb(177, 155, 9);
}

/*NEWS*/
.news-item {
    width: 353px;
    float: left;
    height: 600px;
    position: relative;
    padding: 10px;
    margin-right: 20px;
}

.news-item.last-news {
    margin-right: 0;
}

.news-item:last-child {
    margin-right: 0;
}

.news-item .news-item-head .head-title {
    width: 100%;
    height: 29px;
    background-color: rgb(157, 0, 10);
    padding: 5px;
    overflow: hidden;
}

.news-item .news-item-head .head-title a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
}

.news-item .news-item-head .news-date {
    width: 50%;
    background-color: rgb(181, 157, 9);
    padding: 5px;
    color: #000000;
    margin-top: 5px;
}

.news-item .news-image-holder {
    width: 100%;
    height: 350px;
    margin: 10px 0;
}

.news-item .news-image-holder .news_image {
    width: inherit;
    height: inherit;
}

.news-item .news-preview-holder {
    background: url("/assets/img/template/back-akcii.png") repeat top left;
    width: 99%;
    height: 150px;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.news-preview-holder a.news-name-link {
    color: rgb(180, 156, 10);
    text-transform: uppercase;
}

#infosystem-items-holder {
    height: 610px;
}

.news-items-holder {
    width: 1100px;
    overflow: hidden;
}

.shop_control, .gal_control {
    position: absolute;
    z-index: 20;
    top: 50%;
    width: 25px;
    height: 61px;
    display: block;
    cursor: pointer;
}

.gal_control {
    top: 44%;
}

.shop_control.left, .gal_control.left {
    left: -20px;
    background: url("/assets/img/template/pointer1-left.png") no-repeat top left;
}

.shop_control.right, .gal_control.right {
    right: -20px;
    background: url("/assets/img/template/pointer1-right.png") no-repeat top right;
}

.shop_control.left:hover, .gal_control.left:hover {
    left: -20px;
    background: url("/assets/img/template/pointer2-left.png") no-repeat top left;
}

.shop_control.right:hover, .gal_control.right:hover {
    right: -20px;
    background: url("/assets/img/template/pointer2-right.png") no-repeat top right;
}

.tags {
    display: none;
}

.col-md-12.infosystem-item-title {
    background-color: rgb(157, 0, 10);
    color: white;
    margin-bottom: 10px;
    padding-right: 30px;
}

.col-md-12.infosystem-item-title h3 {
    margin: 15px 0;
    font-weight: normal;
}

.one-infosystem-item {
    width: 1100px!important;
}

#gallery, #gallery a, #gallery a img {
    width: 100%;
}

.infosystem-item-img {
}

#gallery .col-md-4 {
    padding: 0;
}

#gallery .col-md-4 a:hover {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    transform: scale(1.25);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}

#gallery .col-md-4 a {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgb(157, 0, 10);
    border-color: rgb(157, 0, 10);
    padding: 0;
}

#gallery .row {
    width: inherit;
    margin-left: 0;
}

.gal_paginator {

}

#lightbox-container-image-data-box {
     -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
     box-sizing: content-box;
}