<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title><?php Core_Page::instance()->showTitle()?></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="<?php Core_Page::instance()->showDescription()?>" />
<meta name="keywords" content="<?php Core_Page::instance()->showKeywords()?>" />
<?php Core_Page::instance()->showCss()?>
<?php Core_Browser::check()?>

<!-- Bootstrap -->
<link href="/common/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="/common/css/customize_carousel.css" rel="stylesheet">
<link href="/common/css/customize_navbar.css" rel="stylesheet">
<!-- Bootstrap -->

<!-- Media queries -->
<link href="/common/css/media.css" rel="stylesheet">

<!-- Bootstrap correction -->
<link href="/common/css/bootstrap_correction.css" rel="stylesheet">
  
<!-- Common styles -->
<link href="/common/css/common.css" rel="stylesheet">

<script type="text/javascript" src="/common/jquery/jquery.js"></script>
    <!-- LightBox -->
    <script type="text/javascript" src="/hostcmsfiles/jquery/lightbox/js/jquery.lightbox.js"></script>
    <link rel="stylesheet" type="text/css" href="/hostcmsfiles/jquery/lightbox/css/jquery.lightbox.css" media="screen" />
<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="/common/utils/html5shiv.js"></script>


<![endif]-->

    <script>
        $(document).ready(function() {
            var offset = 433;
            var blockWidth = ($(".news-item").length * offset);
            var $container = $(".news-items-holder");
            console.log(blockWidth);

            if(blockWidth < 1100)
            {
                blockWidth = 1100;
            }

            if(blockWidth == 1100) {
                $(".shop_control.left, .shop_control.right").hide();
            }

            $("#infosystem-items-holder").css('width', blockWidth);

            $(document).on("click", ".shop_control.left", function() {
                if($($container).scrollLeft() != 0) {
                    $($container).animate({scrollLeft: ($($container).scrollLeft() - (offset - 60))}, 420);
                }
            });

            $(document).on("click", ".shop_control.right", function() {
                if($($container).scrollLeft() != blockWidth) {
                    $($container).animate({scrollLeft: ($($container).scrollLeft() + (offset - 60))}, 420);
                }
            });

            $('#gallery a[target="_blank"]:has(img)').lightBox();

        });
    </script>

</head>

<body class="second-page">
<!-- ВТОРОСТЕПЕННАЯ -->
<div id="main-wrapper">
    <div id="inner-main-wrapper">
        <!-- TOP_BLOCK -->
        <div id="top-block">
            <!-- small-device -->
            <div class="small-device-top visible-xs-* visible-sm-* hidden-md hidden-lg">
                <div>
                    <a href="/">
                        <img src="/assets/img/template/logoSenpay.png">
                    </a>
                    <div id="top-block-info1">
                        ул. Московская, 96
                        <div>
                            8(452)264-124, +7(965)882-98-78
                        </div>
                    </div>
                    <div id="little_cart" style="display: inline-block;">
                        <?php
                            if (Core::moduleIsActive('shop'))
                            {
                                // Краткая корзина
                                $Shop_Cart_Controller_Show = new Shop_Cart_Controller_Show(
                                    Core_Entity::factory('Shop', 4)
                                );
                                $Shop_Cart_Controller_Show->xsl(Core_Entity::factory('Xsl')->getByName('МагазинКорзинаКраткаяSenpaiMode_responsive'))
                                ->couponText(isset($_SESSION) ? Core_Array::get($_SESSION, 'coupon_text') : '')
                                ->show();
                            }
                        ?>
                    </div>
                </div>
            </div>

            <!-- screen -->
            <div class="row hidden-xs hidden-sm">
                <div class="col-md-5">
                    <a href="/">
                        <img src="/assets/img/template/logoSenpay.png">
                    </a>
                    <div id="top-block-info1">
                        ул. Московская, 96
                        <div>
                            8(452)264-124, +7(965)882-98-78
                        </div>
                    </div>
                </div>
                <div class="col-md-1">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    <div id="shop-link-holder">
                        <a href="/">
                            ЗАКАЗ ОН-ЛАЙН
                        </a>
                    </div>
                    <div id="delivery-link-holder">
                        <a href="/shop/602">ДОСТАВКА</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="sign-in-holder">
                        <a href="/">
                            ВОЙТИ
                        </a>
                    </div>
                    <div id="shop-cart-holder">
                        <?php
                            if (Core::moduleIsActive('shop'))
                            {
                                // Краткая корзина
                                $Shop_Cart_Controller_Show = new Shop_Cart_Controller_Show(
                                    Core_Entity::factory('Shop', 4)
                                );
                                $Shop_Cart_Controller_Show->xsl(Core_Entity::factory('Xsl')->getByName('МагазинКорзинаКраткаяSenpaiMode'))
                                ->couponText(isset($_SESSION) ? Core_Array::get($_SESSION, 'coupon_text') : '')
                                ->show();
                            }
                        ?>
                    </div>
                </div>
            </div>
        </div>

        <!-- NAVBAR ================================================== -->
        <div class="navbar-wrapper">
            <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
            <div class="navbar-container navbar navbar-default">
                <div class="container-fluid">
                    <!-- collapsed -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-collapse-navbar">
                        <?php
                            // Верхнее меню
                            $Structure_Controller_Show = new Structure_Controller_Show(
                                Core_Entity::factory('Site', CURRENT_SITE));

                            $Structure_Controller_Show->xsl(Core_Entity::factory('Xsl')->getByName('ВерхнееМеню_cenpai_mode'))
                                        ->menu(3)
                                        ->show();
                        ?>
                    </div>
                </div>
            </div> <!-- /.container -->
        </div><!-- /.navbar-wrapper -->
    </div>
</div>


<!-- Carousel screen================================================== -->
<div id="myCarousel" class="carousel slide hidden-xs hidden-sm" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div style="background: url('/assets/img/carousel/back-vtor-01.jpg') no-repeat top center; width: 100%; height: 1100px;"></div>
        </div>
        <div class="item">
            <div style="background: url('/assets/img/carousel/back-vtor-02.jpg') no-repeat top center; width: 100%; height: 1100px;"></div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control left_scroll_control hide" href="#myCarousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control right_scroll_control hide" href="#myCarousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- /.carousel -->

<!-- small-devices -->
<div id="myCarousel" class="visible-xs-* visible-sm-* hidden-md hidden-lg">
    <div style="background: url('/assets/img/carousel/back-glavn-01.jpg') no-repeat top center; width: 100%; height: 100%; min-height: 100%;"></div>
</div>

<div id="secondary-content-container">
    <div id="content-holder">
        <!-- Controls -->
        <a class="left shop_control" role="button">

        </a>
        <a class="right shop_control" role="button">

        </a>
        <?php
	        Core_Page::instance()->execute();
        ?>
    </div>
</div>

 <!-- small-device-footer -->
<div id="small-device-wrapper-bottom" class="visible-xs-* visible-sm-* hidden-md hidden-lg">

    <!-- FOOTER -->
    <footer>
        <div id="footer-holder">
            <!-- small-device -->
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <strong class="custom-copyright">&copy; 2014 ООО &laquo;Сенпай&raquo;</strong>
                    <br />
                    <address>
                        ул.Московская, 96<br>
                        <abbr title="Phone">т.:</abbr> 8(452)264-124, +7(965)882-98-78
                    </address>
                </div>
                <div class="col-sm-6 col-xs-6">
                  <!--
                    <div class="pull-left">
                        <div id="footer-discounts" class="footer-link-block-item text-uppercase">
                        </div>  
                    </div>
                    <div class="pull-left">
                        <div id="footer-video" class="footer-link-block-item text-uppercase">
                        </div>
                    </div>
                    <div class="pull-left">
                        <div id="footer-photo" class="footer-link-block-item text-uppercase">
                        </div>  
                    </div>
					-->
                </div>
            </div>
        </div>
    </footer>
</div><!-- /.container -->
<!-- small-device-footer -->

<!-- screen-footer -->
<div id="main-wrapper-bottom" class="hidden-xs hidden-sm">
    <!-- FOOTER -->
    <footer>
        <div id="footer-holder">
            <div class="row">
                <div class="col-md-4">
                    <strong class="custom-copyright">&copy; 2014 ООО &laquo;Сенпай&raquo;</strong>
                    <br />
                    <address>
                        ул.Московская, 96<br>
                        <abbr title="Phone">т.:</abbr> 8(452)264-124, +7(965)882-98-78
                    </address>
                    <span class="delivery-info-footer">
                        ДОСТАВКА СУШИ - <span>он-лайн сервис заказа суши<br />
                        и других блюд японской кухни в Саратове</span>
                    </span>
                </div>
                <div class="col-md-2">
                  <!--
                    <div id="footer-discounts" class="footer-link-block-item text-uppercase">
                        <a href="/">скидки</a>
                    </div>
                    <div id="footer-video" class="footer-link-block-item text-uppercase">
                        <a href="/">видео</a>
                    </div>
                    <div id="footer-photo" class="footer-link-block-item text-uppercase">
                        <a href="/">фотографии</a>
                    </div>
					-->
                </div>
                <div class="col-md-3">
                </div>
                <div class="col-md-3">
                    <div class="footer-social-item">
                        <a href="/">
                            <img src="/assets/img/template/ico-ok.png" />
                        </a>
                    </div>
                    <div class="footer-social-item">
                        <a href="/">
                            <img src="/assets/img/template/ico-vk.png" />
                        </a>
                    </div>
                    <div class="footer-social-item">
                        <a href="/">
                            <img src="/assets/img/template/ico-f.png" />
                        </a>
                    </div>
                    <div class="footer-social-item">
                        <a href="/">
                            <img src="/assets/img/template/ico-g.png" />
                        </a>
                    </div>
                    <div class="footer-social-item">
                        <a href="/">
                            <img src="/assets/img/template/ico-twit.png" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div><!-- /.container -->



<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="/common/bootstrap/js/bootstrap.js"></script>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)

</script>
<script src="/common/utils/holder.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter27338822 = new Ya.Metrika({id:27338822,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/27338822" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  
  <!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//istat.ml/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 3]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//istat.ml/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

  <noindex>
<link rel="stylesheet" href="//cabinet.getmorecustomersfast.com/widget/tracker.css">
<script type="text/javascript" src="//cabinet.getmorecustomersfast.com/php/1.js" charset="UTF-8"></script >
<script type="text/javascript">var uid_code="344";</script>
</noindex>
</body>
</html>